# Kafka
kafka-python<=2.0.2
confluent-kafka
six<=1.16.0  # Aggiunto esplicitamente

# Pulsar
pulsar-client<=3.5.0

# Spark
pyspark

# Flink
# apache-flink<=1.16.1

# Utility
pandas
numpy

# Logging
python-json-logger<=2.0.7